<!-- Start: Topbar -->
<header id="topbar">
  <div class="topbar-left">
    <ol class="breadcrumb">
      <li class="crumb-active">
        <a href="dashboard.html">Tablero</a>
      </li>
      <li class="crumb-icon">
        <a href="dashboard.html">
          <span class="glyphicon glyphicon-home"></span>
        </a>
      </li>

    </ol>
  </div>
  <div class="topbar-right">
    <div class="ml15 ib va-m" id="toggle_sidemenu_r">
      <a href="#" class="pl5">
        <i class="fa fa-power-off fs22 text-primary"></i>
      </a>
    </div>
  </div>
</header>
<!-- End: Topbar -->