<!-- Start: Sidebar Left -->
<aside id="sidebar_left" class="nano nano-primary affix">

  <!-- Start: Sidebar Left Content -->
  <div class="sidebar-left-content nano-content">

    <!-- Start: Sidebar Header -->
    <header class="sidebar-header">

    </header>
    <!-- End: Sidebar Header -->

    <!-- Start: Sidebar Left Menu -->
    <ul class="nav sidebar-menu">

      <li class="sidebar-label pt20">Sitio</li>

      <li>
        <a href="{{ url('admin_tablero') }}">
          <span class="fa fa-dashboard"></span>
          <span class="sidebar-title">Tablero</span>
          <!-- <span class="sidebar-title-tray">
            <span class="label label-xs bg-primary">New</span>
          </span> -->
        </a>
      </li>

      <li>
        <a class="accordion-toggle" href="#">
          <span class="glyphicon glyphicon-duplicate"></span>
          <span class="sidebar-title">Páginas</span>
          <span class="caret"></span>
        </a>
        <ul class="nav sub-nav">
          <li>
            <a href="pagina.html">
              <span class="glyphicon glyphicon-file"></span> INICIO </a>
          </li>
          <li>
            <a href="pagina.html">
              <span class="glyphicon glyphicon-file"></span> QUIENES SOMOS </a>
          </li>
          <li>
            <a href="pagina.html">
              <span class="glyphicon glyphicon-file"></span> CONTACTO </a>
          </li>
          <li>
            <a href="{{ url('admin_pagina_agregar') }}" style="color:#f5b025;">
              <span class="glyphicon glyphicon-plus"></span> AGREGAR PAGINA</a>
          </li>
        </ul>
      </li>

      <li>
        <a class="accordion-toggle" href="#">
          <span class="glyphicon glyphicon-duplicate"></span>
          <span class="sidebar-title">Publicaciones</span>
          <span class="caret"></span>
        </a>
        <ul class="nav sub-nav">
          <li>
            <a href="admin_plugins-panels.html">
              <span class="glyphicon glyphicon-file"></span> NOTICIAS </a>
          </li>
          <li>
            <a href="admin_plugins-modals.html">
              <span class="glyphicon glyphicon-file"></span> FOTOS </a>
          </li>
          <li>
            <a href="admin_plugins-dock.html">
              <span class="glyphicon glyphicon-file"></span> AVISOS </a>
          </li>
          <li>
            <a href="pagina.html" style="color:#f5b025;">
              <span class="glyphicon glyphicon-plus"></span> AGREGAR PUBLICACIÓN</a>
          </li>
        </ul>
      </li>

      <li class="sidebar-label pt20">Configuración</li>

      <li>
        <a href="pages_calendar.html">
          <span class="fa fa-cog"></span>
          <span class="sidebar-title">Parámetros</span>
        </a>
      </li>

      <li>
        <a href="pages_calendar.html">
          <span class="fa fa-users"></span>
          <span class="sidebar-title">Usuarios</span>
        </a>
      </li>

    </ul>
    <!-- End: Sidebar Menu -->

  </div>
  <!-- End: Sidebar Left Content -->

</aside>
<!-- End: Sidebar Left -->