<!-- Start: Header -->
<header class="navbar navbar-fixed-top">
  <div class="navbar-branding">
    <a class="navbar-brand" href="dashboard.html">
      <b>CMS</b>PROJECT
    </a>
    <span id="toggle_sidemenu_l" class="ad ad-lines"></span>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown"> JONATHAN PADILLA
        <span class="caret caret-tp hidden-xs"></span>
      </a>
      <ul class="dropdown-menu list-group dropdown-persist w250" role="menu">
        <li class="list-group-item">
          <a href="#">
            <span class="fa fa-cog"></span> Información
            <span class="label label-warning">2</span>
          </a>
        </li>
        <li class="dropdown-footer">
          <a href="#" class="">
          <span class="fa fa-power-off pr5"></span> Salir </a>
        </li>
      </ul>
    </li>
  </ul>

</header>
<!-- End: Header -->