{% extends "AdminBundle:layouts:body.html.twig" %}

{% block content %}
<div class="row">
	<div class="col-md-12">

		<div class="menu_opciones_top" style="margin-bottom: 20px;">
			<div class="btn-group">
			<!-- <div class="btn-group">
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Administrar <span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">Bloque</a></li>
					<li><a href="#">Publicación</a></li>
				</ul>
			</div> -->
			<a href="{{ url('admin_pagina_bloques', {'id': id_pagina}) }}" type="button" class="btn btn-primary">Administrar</a>
			</div>
		</div>

	</div>

	<div class="col-md-12">

		{{ bloques|raw }}

	</div>

</div>
{% endblock %}

{% block modal %}
<div class="modal fade" id="modal_pagina" tabindex="-1" role="dialog" aria-labelledby="modal_paginaLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div id="modal_content" class="modal-content">
      
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
	<script src="{{ absolute_url(asset('vendor/plugins/validate/jquery.validate.min.js')) }}"></script>
	<script src="{{ absolute_url(asset('assets/js/cms/pagina.js')) }}"></script>
{% endblock %}