{% extends "AdminBundle:layouts:body.html.twig" %}

{% block content %}
<div class="row">
      <div class="col-md-12">
        <h1 class="micro-header mt40 text-left">PÁGINAS</h1>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4">
        <a href="pagina.html" class="url_item">
          <div class="panel panel-tile text-success br-b bw5 br-success-light">
            <div class="panel-body pl20 p5">
              <i class="fa fa-file icon-bg"></i>
              <h2 class="mt15 lh15">
                <b>3</b>
              </h2>
              <h5 class="text-muted">INICIO <code>.InicioController</code></h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a href="pagina.html" class="url_item">
          <div class="panel panel-tile text-success br-b bw5 br-success-light">
            <div class="panel-body pl20 p5">
              <i class="fa fa-file icon-bg"></i>
              <h2 class="mt15 lh15">
                <b>3</b>
              </h2>
              <h5 class="text-muted">QUIENES SOMOS <code>.QuienesController</code></h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a href="pagina.html" class="url_item">
          <div class="panel panel-tile text-success br-b bw5 br-success-light">
            <div class="panel-body pl20 p5">
              <i class="fa fa-file icon-bg"></i>
              <h2 class="mt15 lh15">
                <b>3</b>
              </h2>
              <h5 class="text-muted">CONTÁCTO <code>.ContactoController</code></h5>
            </div>
          </div>
        </a>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <hr class="alt short">
        <h1 class="micro-header mt40 text-left">PUBLICACIONES</h1>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4">
        <a href="#" class="url_item">
          <div class="panel panel-tile text-info br-b bw5 br-info-light">
            <div class="panel-body pl20 p5">
              <i class="fa fa-bar-chart-o icon-bg"></i>
              <h2 class="mt15 lh15">
                <b>12</b>
              </h2>
              <h5 class="text-muted">NOTICIAS</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a href="#" class="url_item">
          <div class="panel panel-tile text-info br-b bw5 br-info-light">
            <div class="panel-body pl20 p5">
              <i class="fa fa-bar-chart-o icon-bg"></i>
              <h2 class="mt15 lh15">
                <b>12</b>
              </h2>
              <h5 class="text-muted">FOTOS</h5>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a href="#" class="url_item">
          <div class="panel panel-tile text-info br-b bw5 br-info-light">
            <div class="panel-body pl20 p5">
              <i class="fa fa-bar-chart-o icon-bg"></i>
              <h2 class="mt15 lh15">
                <b>12</b>
              </h2>
              <h5 class="text-muted">AVISOS</h5>
            </div>
          </div>
        </a>
      </div>

    </div>
{% endblock %}